{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Dummy Banking System" />
        <meta name="author" content="Maksudul Haque" />
        <title>
            {% block head_title %}Banking System{% endblock %}
        </title>

        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

        <style>
          html {
            font-family: 'Inter', sans-serif;
          }
          @supports (font-variation-settings: normal) {
            html { font-family: 'Inter var', sans-serif; }
          }
        </style>

        {% block head_extra %}{% endblock %}
    </head>
    <body class="h-full bg-gray-100 antialiased">
        {% block body %}
            <div class="grid grid-rows-[auto_1fr_auto] min-h-screen">

                {% include 'core/navbar.html' %}

                <main>
                    {% include 'core/messages.html' %}
                    {% block content %}
                    {% endblock %}
                </main>

                {% block footer %}
                    {% include 'core/footer.html' %}
                {% endblock %}
            </div>
        {% endblock %}
        {% block footer_extra %}{% endblock %}
    </body>
</html>