{% extends 'core/base.html' %}

{% block head_title %}Welcome to the Banking System{% endblock %}

{% block content %}
    <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <div class="py-24 px-4 sm:px-6 lg:px-8 text-center">
            
            <div class="w-20 h-20 mx-auto text-indigo-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 8l3 5m0 0l3-5m-3 5v4m-3-5h6m-6 3h6m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            
            <h1 class="mt-6 text-4xl font-extrabold text-gray-900 sm:text-5xl">
                A Simple and Modern Security Solution
            </h1>
            
            <p class="mt-4 max-w-2xl mx-auto text-lg text-gray-600">
                This is a banking application protected by three-factor authentication: using advanced Machine Learning models!
            </p>
            
            <div class="mt-10 flex justify-center space-x-4">
                <a href="{% url 'accounts:user_registration' %}" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Get Started
                </a>
                <a href="https://github.com/suranakhushi/miniproj" target="_blank" class="inline-flex items-center px-6 py-3 border border-gray-300 text-base font-medium rounded-md shadow-sm text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    View on GitHub
                </a>
            </div>
        </div>
    </div>
{% endblock %}